@media (max-width:999px) {
    .content {
        float: none;
        width: auto;

    }

    .right {
        width: auto;
        float: none;

    }

    .scroll .inner {
        float: none;
        width: auto;

    }

    .scroll {
        width: auto !important;
    }

    .jspContainer {
        width: auto !important;

    }

    .jspPane {
        width: auto !important;
    }

    .bottom_shadow {
        width: 100%;
        margin-top: 115px;
        margin-left: 0;

    }

    .top_shadow {
        width: 75%;
        margin-left: 0;

    }

    .right .container {
        padding-top: 15px;
    }

    .enter {
        font-size: 14px;
        width: 104px;
    }

    .home_contacts {
        width: 140px;
        font-size: 13px;
        padding-top: 34px;
    }

    .phone {
        font-size: 19px;
        width: 137px;
    }

    .phone em {
        font-size: 12px;
    }

}

@media (min-width:480px) and (max-width:999px) {

    .content {
        height: 125px;

    }

    .right {

        margin-left: 190px;

    }

    .scroll .inner {

        padding-right: 180px;

    }

    .scroll {
        height: 125px;

    }

    .left {
        margin-right: 0;
        padding-left: 10px;
        width: 161px;
    }

    .bottom_shadow {
        width: 100%;
        margin-top: 115px;
        margin-left: 0;

    }

    .top_shadow {
        width: 75%;
        margin-left: 0;

    }

    .gallery img {
        width: 250px;
        display: inline;
        height: 180px;

    }

    .gallery li {
        width: 340px;
        text-align: center;
    }

    #slider {
        height: 180px;

    }

    .contacts_bottom {
        left: 10px
    }

    .right .container {
        padding-top: 15px;
    }

    .menu {
        margin-top: 10px;
    }
}

@media (max-width:767px) {
    .scroll .inner {
        padding-right: 50px;

    }

    .content p {
        font-size: 13px;
        line-height: 16px;
    }

    .top_shadow {
        width: 90%;
    }

    .link_menu {
        left: 50%;
        margin-left: -83px;
        position: relative;
        background: none;
        top: -30px;
        display: inline;
        text-align: center;
        padding: 0;
        padding-left: 60px;
        width: auto;
        font-size: 14px;
    }

    .link_map {
        right: 50%;
        position: relative;
        margin-right: -83px;
        top: -5px;
        display: inline;
        text-align: center;
        padding: 0;
        padding-right: 25px;
        width: auto;
        font-size: 14px;
        background: none;
    }

}

@media (min-width:490px) and (max-width:640px) {

    #slider {
        width: 200px;
        height: 130px;
    }

    .gallery img {
        width: 200px;
        height: 130px;
    }

    .gallery li {
        width: 200px !important;
    }

    .gallery {
        width: 200px !important;
    }

    #slider .next {
        left: 260px;
    }

}

@media (max-width:490px) {
    .left, .right {
        float: none;
    }

    body {
        background: #000;
        padding: 20px;
        position: relative;

    }

    .contacts_bottom {
        top: 100%;
        margin-top: -40px;
        padding-left: 20px;
        background: #000 url("../images/logo_small2.gif") no-repeat 20px 10px;
        font-size: 16px;
        width: 200px;
    }

    .right .logo {
        position: absolute;
        left: 50%;
        margin-left: -30px;

    }

    .left {
        text-align: center;
        width: auto;
        margin: 0;
        border: 0;
        height: auto;
        position: static;
    }

    .right {
        margin-left: 0;
    }

    .left .title span {
        font-size: 20px;

    }

    .menu {
        text-align: left;
        margin-top: 5px;

    }

    .left .title em {
        font-size: 16px;
        line-height: 20px;
    }

    .menu li a {
        font-size: 14px;
    }

    .menu li.active li a {
        font-size: 13px;
    }

    .menu li.active li.active li a {
        font-size: 12px;
    }

    .navigation {
        display: none;
    }

    .nav_activation {
        display: block;
        border: 1px dotted #bfbfbf;
        font-size: 18px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        color: #bfbfbf;

    }

    .right .container {
        padding-top: 10px;
    }

    .bottom_shadow, .top_shadow {
        display: none;
    }

    .content p {
        font-size: 14px;
        line-height: 18px;
    }

    #slider {
        width: 200px;
        height: 130px;
        margin-left: -20px;
    }

    .gallery img {
        width: 200px;
        height: 130px;
    }

    .gallery li {
        width: 200px !important;
    }

    .gallery {
        width: 200px !important;
        height: 130px;
    }

    #slider .next {
        left: 260px;
    }

    #cont {
        height: auto;
        padding-bottom: 50px;

    }

}
